* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: oklch(0.2 0 0);
  font-size: 1.125rem;
  line-height: 0.75rem;
}

.container {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-columns: 12.5rem repeat(auto-fit, minmax(240px, 1fr));
  max-width: 80rem;
  padding: 0.75rem;
  background-color: oklch(0.5 0 0);
  margin-inline: auto;
}

.sidebar {
  // 가로로 그리드칸에 몇번쨰 칸에 위치하게 할 것인지
  grid-column: 1;
  //   카드가 몇개가 추가되던 간에
  grid-row: 1/-1;
  grid-row: 2;
  background: #fff;
  padding: 0.75rem;
}

.card-collecton {
  display: grid;
  grid-column: 2/-1;
  grid-row: 1/-1;
  grid-template-columns: subgrid;
  row-gap: 1.5rem;
}

.tittle {
}
